.html{
    padding: 0;
    margin: 0;
    overflow-x: 0;
}
.body{
    padding: 0;
    margin: 0;
    overflow-x: 0;
    background-color: black;
}
.slaider{
    width: 1000px;
margin-left: 22%;
margin-top: 15%;
background-color: black;
}
.carousel-item {
    margin-left: 70px;
}
